fastapi
uvicorn[standard]
gunicorn
sqlalchemy
psycopg2-binary
# Pin compatible versions to avoid bcrypt/passlib issues
passlib[bcrypt]>=1.7.4
bcrypt>=4.0.1
PyJWT
celery
kombu[sqlalchemy]
ansible-runner
paramiko
python-dotenv
